/* your style begins here */
html, body {
	width: 100%;
	height: 100%;
    margin: 0;
    padding: 0;
}

body{
	/*background-color: white;*/
	font-family: 'Raleway';
	background: linear-gradient(120deg, #ff0000, #0000ff);
	background-size: 150% 150%;
	/*background-size:cover;*/
	-webkit-animation: gradient 10s ease infinite;
	-moz-animation: gradient 10s ease infinite;
	-o-animation: gradient 10s ease infinite;
	animation: gradient 10s ease infinite;

}


@-webkit-keyframes gradient {
    0%{background-position:20% 0%}
    50%{background-position:81% 100%}
    100%{background-position:20% 0%}
}
@-moz-keyframes gradient {
    0%{background-position:20% 0%}
    50%{background-position:81% 100%}
    100%{background-position:20% 0%}
}
@-o-keyframes gradient {
    0%{background-position:20% 0%}
    50%{background-position:81% 100%}
    100%{background-position:20% 0%}
}
@keyframes gradient { 
    0%{background-position:20% 0%}
    50%{background-position:81% 100%}
    100%{background-position:20% 0%}
}


.btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: #8a8a8a;
  font-size: 16px;
  background: #ffffff;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}

.btn:hover {
  background: #e8e8e8;
  text-decoration: none;
}

#container{
	position: absolute;
	left: 50%;
	top:50%;
	width: 700px;
	height: 300px;
	margin-top: -150px;
	margin-left: -350px;
	text-align: center;
	color: white;
}


.box{
	position: absolute;
	top:50%;
	left: 50%;
	width: 75px;
	height: 75px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.box:hover{
	width: 78px;
	height: 78px;
	box-shadow: 0 0 20px black;
	-webkit-animation-name: show;
	-webkit-animation-duration: 1s;
	animation-name: show;
    animation-duration: 1s;
    -webkit-animation-iteration-count: 10;
     animation-iteration-count: 10;
}



#title{
	font-size: 150px;
	font-style: bold;
	font-family: 'Luckiest Guy', cursive;
	-webkit-animation-name: tada;
  	animation-name: tada;
  	-webkit-animation-duration: 1s;
  	animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
     animation-iteration-count: 1;
}

.showPos{
	box-shadow: 0 0 20px black;
	-webkit-animation-name: show;
	-webkit-animation-duration: 1s;
	animation-name: show;
    animation-duration: 1s;
    -webkit-animation-iteration-count: 10;
     animation-iteration-count: 10;
}

@keyframes show {
    0% {box-shadow: 0 0 20px black;}
    50% {box-shadow: 0 0 5px black;}
    100% {box-shadow: 0 0 20px black;}
}

#ending{
	position: absolute;
	margin-top: -300px;
	margin-left: -450px;
	padding:50px;
/*	padding-left: 5%;
*/	top:50%;
	left: 50%;
	width: 800px;
	height: 500px;
	z-index: 4;
	background-color: white;
	color: white;
	font-size: 100px;
	font-family: 'Luckiest Guy', cursive;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#text{
	/*padding-top: 5%;*/
	top:50%;
	left: 50%;
	margin-top:-262.5px;
	margin-left:-262.5px; 
	font-size: 25px;
	/*padding-left: 15%;*/
	color: white;
	position: absolute;
	z-index: 3;
}
/*
#container{
	top:5%;
	left: 5%;
}*/

#PlayerInfo{
	position: absolute;
	top:50%;
	left: 50%;
	margin-top:-262.5px;
	margin-left:262.5px; 
	font-size: 25px;

	color: white;
}

#token{
	position: absolute;
	background-color: orange;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width: 25px;
	height: 25px;
	top: 50%;
	left: 50%;
}